
        
<footer style="position: fixed; left: 0; bottom: 0; width: 100%; background-color: #282C34; color: white; text-align: center; padding: 10px;">
    <p>Visita mi perfil de GitHub: <a href="https://github.com/williRR" target="_blank" style="color: #61dafb;">@williRR</a></p>
</footer>

    <!-- Bootstrap JavaScript Libraries -->
    <script
        src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"
    ></script>

    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"
    ></script>

    <script src="{{ url_for('static', filename='js/app.js') }}" ></script>
</body>
</html>